input {
    display: none;
}

.import-button-section {

    display: flex;
    justify-content: right;
    align-items: center;
}

.import-button {
    padding: 5px;
    margin: 15px;
    font-size: 16px;
    font-weight: 500;
}

.backup-icon {
  padding: 5px;
  cursor: pointer;
}
