<main class="main">
  <div class="header">
    <button class="header-button big-button" [ngClass]="{'header-button-current': selectedScreen === 1 }" (click)="selectedScreen = 1">
      Transaction List
    </button>
    <button class="header-button big-button" [ngClass]="{'header-button-current': selectedScreen === 2 }" (click)="selectedScreen = 2">
      Dashboard
    </button>
  </div>
  <app-transactions *ngIf="selectedScreen === 1"></app-transactions>
  <app-dashboard *ngIf="selectedScreen === 2"></app-dashboard>
</main>

<router-outlet />
