.header {
    background-color: #181818;
    align-content: center;
    text-align: center;
    padding: 15px;
}

.header-button {
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    font-weight: 1000;
    font-size: large;
}

.header-button-current {
    background-color: rgb(108, 191, 216);
}