.header {
    background-color: #181818;
    padding: 15px;

    display: flex;
    align-items: center;
}

.icon {
  margin-left: 5px;
  margin-right: 20px;
  transform: scale(1.5);
}

.header-link {
  text-decoration: none;
  color: lightgray;
  font-family: Ubuntu;
  font-size: large;
  margin-right: 15px
}

.header-link-current {
    font-weight: bold;
}

.link-active {
  color: red;
}
