<div class="card main-card">
  <app-import (uploadComplete)="refreshList()"></app-import>
  <app-filters
    (filterOutput)="onFiltersChanged($event)"
    [resultCount]="(transactions | filterTransactions:filters).length"
    [filteredAmount]="sumFlow(transactions | filterTransactions:filters)">
  </app-filters>
  <!-- <app-transaction-headers></app-transaction-headers> -->
  @if ((transactions | filterTransactions:filters).length > 0) {
    <ul>
      @for (t of transactions | filterTransactions:filters; track t.id) {
        <li>
          <app-transaction-item [transaction]="t"></app-transaction-item>
        </li>
      }
    </ul>
  } @else {
    <div class="no-data">No data to display.</div>
  }
</div>
