.main-card {
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    min-height: 500px;
}

.inner-section {
    margin: 10px;
    padding: 10px;
    background-color: #1f1f1f;
    border-radius: 5px;
}

.import-button-section {
    text-align: right;
    padding-right: 15px;
}

.import-button {
    font-size: medium;
    font-weight: 500;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

::ng-deep .mat-datepicker-toggle-default-icon {
    color: lightgray !important; 
}

::ng-deep .mat-mdc-text-field-wrapper {
    background-color: rgb(42, 42, 42) !important;
}

::ng-deep .mat-date-range-input-separator{
    color: lightgray !important;
}

::ng-deep .mat-date-range-input-wrapper{
    color: lightgray !important;
}

/* ::ng-deep .mat-datepicker-content-container{
    background-color: rgb(42, 42, 42) !important;
} */

mat-label {
    color: lightgray !important;
}