<div class="card main-card">
  <app-import (uploadComplete)="refreshList()"></app-import>
  <app-filters
    (filterOutput)="onFiltersChanged($event)"
    [resultCount]="(transactions | filterTransactions:filters).length"
    [filteredAmount]="sumFlow(transactions | filterTransactions:filters)">
  </app-filters>
  <!-- <app-transaction-headers></app-transaction-headers> -->
  <div *ngIf="(transactions | filterTransactions:filters).length > 0; else noData">
    <ul>
      <li *ngFor="let t of transactions | filterTransactions:filters">
        <app-transaction-item [transaction]="t"></app-transaction-item>
      </li>
    </ul>
  </div>
  <ng-template #noData><div class="no-data">No data to display.</div></ng-template>
</div>
