.main-card {
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    min-height: 500px;
}

.inner-section {
    margin: 10px;
    padding: 10px;
    background-color: #1f1f1f;
    border-radius: 5px;
}