<div class="container">
  <div class="filter-input">
    <input
      class="search-text-field"
      id="search-transaction"
      placeholder="Search..."
      autocomplete="off"
      [(ngModel)]="filters.search"
      (input)="onSearchFilterInput()"
    />
  </div>

  <mat-icon fontIcon="remove_circle_outline" class="time-management" (click)="decreaseMonth()"/>
  <mat-icon fontIcon="add_circle_outline" class="time-management" (click)="increaseMonth()"/>
  <mat-icon fontIcon="access_time" class="time-management"  (click)="setCurrentMonth(true)"/>
  <div class="filter-input">
    <mat-form-field>
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input
          matStartDate
          placeholder="Start date"
          [(ngModel)]="filters.startDate"
        />
        <input
          matEndDate
          placeholder="End date"
          [(ngModel)]="filters.endDate"
          (dateChange)="onEndDateSelected()"
        />
      </mat-date-range-input>
      <mat-hint>YYYY-MM-DD – YYYY-MM-DD</mat-hint>
      <mat-datepicker-toggle
      matIconSuffix
      [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>

  <div class="filter-input">
    <select class="search-text-field" [(ngModel)]="filters.type" (ngModelChange)="onMenuItemClicked()">
      <option [value]="NO_FILTER">Filter type...</option>
      <option *ngFor="let t of types">{{ t }}</option>
    </select>
  </div>

  <div class="filter-input">
    <select class="search-text-field" [(ngModel)]="filters.category" (ngModelChange)="onMenuItemClicked()">
      <option [value]="NO_FILTER">Filter category...</option>
      <option *ngFor="let c of categories">{{ c }}</option>
    </select>
  </div>

  <div class="result-counter">
    {{ resultCount }} results
  </div>

  <div class="filter-clear">
    <button
      class="big-button clear-button"
      (click)="onClearFilter()"
      [ngClass]="{'no-filter-button': !isAnyFilterSelected()}"
      [disabled]="!isAnyFilterSelected()">
      Clear Filters
    </button>
  </div>
</div>
