<div class="misc-data-container">
    <div class="misc-data-section">
      <div class="misc-title-container">
        @if(!slideChecked) {
          <h3 class="misc-title">Without Savings</h3>
        } @else {
          <h3 class="misc-title" >With Savings</h3>
        }
        <mat-slide-toggle [(ngModel)]="slideChecked"/>
      </div>

      @if(!slideChecked) {
        <div class="line-container">
          <div>Positive Sum</div>
          <div>{{ report?.positiveSumWithoutSavings | numberToMoney }}</div>
        </div>
        <div class="line-container">
          <div>Negative Sum</div>
          <div>{{ report?.negativeSumWithoutSavings | numberToMoney }}</div>
        </div>
        <div class="line-container">
          <div>Balance</div>
          <div [ngClass]="{'green': isBalancePositive(false), 'red': !isBalancePositive(false)}">{{ report?.balanceWithoutSavings | numberToMoney }}</div>
        </div>
      } @else {
        <div class="line-container">
          <div>Positive Sum</div>
          <div>{{ report?.positiveSum| numberToMoney }}</div>
        </div>
        <div class="line-container">
          <div>Negative Sum</div>
          <div>{{ report?.negativeSum| numberToMoney }}</div>
        </div>
        <div class="line-container">
          <div>Balance</div>
          <div [ngClass]="{'green': isBalancePositive(true), 'red': !isBalancePositive(true)}">{{ report?.balance | numberToMoney }}</div>
        </div>
      }
    </div>
    <div class="misc-data-section">
      <h3 class="misc-title">Highest Transactions</h3>
      <table>
        <tbody>
          @for(t of report?.highestTransactions; track t.id) {
            <tr>
              <td>{{ t.date | date:'YYYY-MM-dd' }}</td>
              <td>{{ t.flow | numberToMoney }}</td>
              <td>{{ t.type }}<br>{{ t.category }}</td>
              <td>{{ t.autoComment }}<br>{{ t.comment }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
</div>
