<div class="container">
  <div class="info-panel">
    <div class="title-line">
      <span>
        <mat-icon fontIcon="edit" class="edit-icon" (click)="onEditTransactionClicked()" *ngIf="areEditableFieldsDisabled; else saveAction"/>
        <ng-template #saveAction><mat-icon fontIcon="save" class="save-icon" (click)="onSaveTransactionClicked()"/></ng-template>
      </span>
      <span class="title">
        <span *ngIf="areEditableFieldsDisabled; else commentInput">{{ transaction.autoComment }}{{ separator }}{{transaction.comment }}</span>
        <ng-template #commentInput>
          {{ transaction.autoComment }}{{ separator }}
          <input
            type="text"
            class="editable-text-field"
            [(ngModel)]="transaction.comment"
            [disabled]="areEditableFieldsDisabled"
          />
        </ng-template>
      </span>
    </div>
    <div class="date-type-cat-line">
      <span>{{ transaction.date | dateToString }}</span>
      {{ ' . ' }}
      <span>
        <span *ngIf="areEditableFieldsDisabled; else typesInput">
          {{ transaction.type }}
        </span>
        <ng-template #typesInput>
          <select class="editable-text-field" [(ngModel)]="this.transaction.type">
            <option *ngFor="let t of types" [value]="t">{{ t }}</option>
          </select>
          <!-- <button class="dropdown-button" mat-button [matMenuTriggerFor]="menuType">{{ transaction.type }}</button>
          <mat-menu #menuType="matMenu">
            <button *ngFor="let t of types" mat-menu-item (click)="typesMenuItemClicked(t)">{{ t }}</button>
          </mat-menu> -->
        </ng-template>
      </span>
      {{ ' . ' }}
      <span>
        <span *ngIf="areEditableFieldsDisabled; else categoryInput">
          {{ transaction.category }}
        </span>
        <ng-template #categoryInput>
          <select class="editable-text-field" [(ngModel)]="this.transaction.category">
            <option *ngFor="let c of categories" [value]="c">{{ c }}</option>
          </select>
          <!-- <button class="dropdown-button" mat-button [matMenuTriggerFor]="menuCategory">{{ transaction.category }}</button>
          <mat-menu #menuCategory="matMenu">
            <button *ngFor="let c of categories" mat-menu-item (click)="categoryMenuItemClicked(c)">{{ c }}</button>
          </mat-menu> -->
        </ng-template>
      </span>
    </div>
    <div class="label-line tooltip">
      <!-- <span class="tooltiptext">{{ transaction.label }}</span> -->
      {{ transaction.label }}
    </div>
  </div>
  <div class="money-panel tooltip">
    <span class="tooltiptext">Treasury: {{ transaction.treasury | numberToMoney }}</span>
    <span [ngClass]="{'red-text': transaction.flow < 0, 'green-text': transaction.flow >= 0}">
      {{ transaction.flow | numberToMoney }}
    </span>
  </div>
</div>
