<div class="container">
  <span class="column">{{ transaction.date.toLocaleDateString() }}</span>
  <span class="column-center">{{ transaction.flow }} €</span>
  <span class="column-center">{{ transaction.treasury }} €</span>
  <span class="column">{{ transaction.label }}</span>

  <span class="column" *ngIf="isEditableCommentDisabled; else typesInput">{{
    transaction.type
  }}</span>
  <ng-template #typesInput>
    <button mat-button [matMenuTriggerFor]="menuType">
      {{ transaction.type }}
    </button>
    <mat-menu #menuType="matMenu">
      <button
        *ngFor="let t of types"
        mat-menu-item
        (click)="typesMenuItemClicked(t)"
      >
        {{ t }}
      </button>
    </mat-menu>
  </ng-template>

  <span class="column" *ngIf="isEditableCommentDisabled; else categoryInput">{{
    transaction.category
  }}</span>
  <ng-template #categoryInput>
    <button mat-button [matMenuTriggerFor]="menuCategory">
      {{ transaction.category }}
    </button>
    <mat-menu #menuCategory="matMenu">
      <button
        *ngFor="let c of categories"
        mat-menu-item
        (click)="categoryMenuItemClicked(c)"
      >
        {{ c }}
      </button>
    </mat-menu>
  </ng-template>

  <span class="column">{{ transaction.autoComment }}</span>

  <span class="column" *ngIf="isEditableCommentDisabled; else commentInput">{{
    transaction.comment
  }}</span>
  <ng-template #commentInput>
    <input
      type="text"
      class="column editable-text-field"
      [(ngModel)]="transaction.comment"
      [disabled]="isEditableCommentDisabled"
    />
  </ng-template>

  <span class="column-center">
    <button
      class="big-button edit-save-button"
      (click)="onEditTransactionClicked()"
    >
      {{ editButtonText }}
    </button>
  </span>
</div>
